body {  
    background: rgb(2, 6, 23);
    margin: 0;
    font-family: Arial, sans-serif;
}

.content {
    padding: 20px;
    text-align: center;
    color: white;
}
.hoh{
    display: flex;
    justify-items: center;
    align-items: center;
}
.magic-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
}

.magic-section {
    position: relative;
    height: 100%;
    width: 80%;
    overflow: hidden;
    display: grid;
    place-items: center;
    border: 2px solid transparent;
    border-radius: 15px;
    animation: borderAnimation 3s infinite;
}

@keyframes borderAnimation {
    0%, 100% {
        border-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
        border-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    }
}

.magic-section #wand {
    width: 10vmin;
    aspect-ratio: 1 / 10;
    background: linear-gradient(
        to right, 
        rgb(26 24 28) 10%, 
        rgb(42 40 44) 45% 55%, 
        rgb(26 24 28) 90%
    );
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    rotate: -3deg;
    z-index: 100;
    border-radius: 3vmin;
    box-shadow: 0vmin 1vmin 4vmin rgb(0 0 0 / 80%);
    overflow: hidden;
}

.magic-section #wand > .cap {
    height: 20%;
    width: 100%;
    background: linear-gradient(
        to right, 
        rgb(212 221 236) 10%, 
        rgb(255 255 255) 45% 55%, 
        rgb(212 221 236) 90%
    );
}

.magic-section #tiles {
    display: flex;
}

.magic-section .tile {
    display: grid;
    place-items: center;
    width: 38vmin;
    aspect-ratio: 1;
    background-color: rgb(31, 41, 55);
    border-radius: 6vmin;
    box-shadow: 0vmin 3vmin 6vmin rgb(0 0 0 / 25%),
      inset 0vmin 0.5vmin 1vmin rgb(255 255 255 / 15%);
    position: relative;
    overflow: hidden;
}

.magic-section .tile:nth-child(1) {
    rotate: 3deg;
    z-index: 3;
}

.magic-section .tile:nth-child(2) {
    rotate: -2deg;
    z-index: 2;
}

.magic-section .tile:nth-child(3) {
    rotate: 5deg;
    z-index: 1;
}

.magic-section .tile:is(:nth-child(2), :nth-child(3)) {
    margin-left: -10vmin;
}

.magic-section .tile > i {
    font-size: 15vmin;
    color: rgb(255 255 255 / 10%);
}

.magic-section .tile > img {
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    object-fit: cover;
    opacity: var(--opacity);
    filter: blur(calc(var(--blur) * 10px));
}
